@import "overrided-variables";

@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/ripple/mdc-ripple";
@import "bulma/bulma";
@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/icon-button/mdc-icon-button";
@import "~sal.js/dist/sal.css";
@import "@material/card/mdc-card";

// @import "bulma-tooltip/src/sass/index";

@mixin absolute-centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

#map {
    @include absolute-centered;
    height: 100vh;
    width: 100%;
    display: block;
    background: #777;
    z-index: -1;
}


#map__content {
    @include absolute-centered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#map__content > * {
    margin-bottom: 1rem!important;
}

#map__content:last-child {
    margin-bottom: 0;
}


#map__content__text {
    @include mdc-typography('headline4');
    color: rgba($mdc-theme-on-primary, .87);
    text-align: center;
    margin-bottom: 1rem;
}

.mdc-card__media-content {
    padding: 1rem;
    overflow: hidden;
}

.mdc-card__title {
    @include mdc-typography('subtitle1');
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 1rem;
}

.choose-buttons {
    display: flex;
    flex-direction: column;
}

@include from($desktop) {
    .choose-buttons {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .choose-buttons .mdc-button {
        margin: 0 .5rem;
    }
}

.choose-buttons .mdc-button {
    margin-bottom: 1rem;
}

.sticky-bag {
    position: sticky;
    display: block;
    top: 50px;
    width: 30vw;
    max-width: 300px;
    margin-top: 100px; 
    margin: auto;
}

.left {
    float:left;
}

.right {
    float:right;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;

    &.green {
        background-color: green;
    }
    &.red {
        background-color: red;
    }
    &.orange {
        background-color: orange;
    }
}

.bag-item {
    height: 10rem;
    display: block;
    margin: 0 5rem;
    img {
        width: auto;
        max-height: 100%; 
        height: 100%;
    }
}

#survival-skills {
    max-width: $desktop;
    text-align: center;
    margin:auto;
}

#kit {
    //background: red;
    background: #3a7bd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5fb7e4, #3a7bd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5fb7e4, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}