doctype html
html(lang="en")
  head
    include includes/header
  body.mdc-typography
    aside.mdc-drawer.mdc-drawer--modal
      .mdc-drawer__content
        .mdc-list
          a.mdc-list-item.mdc-list-item--activated(href='#', aria-selected='true')
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') inbox
            span.mdc-list-item__text Inbox
          a.mdc-list-item(href='#')
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') send
            span.mdc-list-item__text Outgoing
          a.mdc-list-item(href='#')
            i.material-icons.mdc-list-item__graphic(aria-hidden='true') drafts
            span.mdc-list-item__text Drafts
    .mdc-drawer-scrim
    .mdc-drawer-app-content
      header.mdc-top-app-bar.mdc-top-app-bar--fixed.app-bar#app-bar
        .mdc-top-app-bar__row
          section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start(style="overflow: hidden")
            a.demo-menu.material-icons.mdc-top-app-bar__navigation-icon(href='#') menu
            span.mdc-top-app-bar__title 
              img(src="./../images/DisaterReady.png", style="height: 120px; transform: translate(-16px, 4px)")
      main.main-content#main-content
        #map-container
          #map
          #map__content
            //<img src="../images/DisaterReady.png" />
            #map__content__text
            #dot.dot
            #map__content__input
              from#search-country(action="/search/country", method="POST")
                .mdc-text-field.mdc-text-field--outlined
                  input#country-input.mdc-text-field__input(type="text")
                  label.mdc-floating-label(for='tf-outlined') Country
                  .mdc-notched-outline
                    svg
                      path.mdc-notched-outline__path
                  .mdc-notched-outline__idle
            div.choose-buttons
              a(href="#survival-skills").mdc-button.mdc-button--raised I want to learn
              a(href="#i-want-to-help").mdc-button.mdc-button--raised I need help
              button.mdc-button.mdc-button--raised I want to help
        //- .mdc-top-app-bar--fixed-adjuts
        //- content goes here
        #kit
          #survival-skills
            div.section.is-medium
              div.sticky-bag
                h1.title.is-1.has-text-white(style="padding-top: 40px")
                  div(data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce") Basic
                  div(data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce") Survival Kit
                img(src="../images/bag.svg")
              div.bag-item(style="display:block;")
                img.left(src="../images/water.png", data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.right(src="../images/can.svg", data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.left(src="../images/knife.svg", data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.right(src="../images/pliers.svg", data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce")  
              div.bag-item(style="display:block;")
                img.left(src="../images/whistle.png", style="max-height: 60%", data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.right(src="../images/flashlight.png", style="max-height: 80%", data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce")  
              div.bag-item(style="display:block;")
                img.left(src="../images/map.png", style="max-height: 60%", data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.right(src="../images/phone.png", style="max-height: 80%", data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce")  
              div.bag-item(style="display:block;")
                img.left(src="../images/Power-Options.png", style="max-height: 60%", data-sal="slide-left", data-sal-delay="600", data-sal-easing="ease-out-bounce")
              div.bag-item(style="display:block;")
                img.right(src="../images/first-aid.png", style="max-height: 80%", data-sal="slide-right", data-sal-delay="600", data-sal-easing="ease-out-bounce")  
            h2.title.is-2.has-text-white(data-sal="slide-up", data-sal-delay="600", data-sal-easing="ease-out-bounce") These are the essentials for surviving
            h2.title.is-2.has-text-white(style="padding-top:80px;", data-sal="slide-up", data-sal-delay="600", data-sal-easing="ease-out-bounce") Latest news about natural disasters in your area

          .container.section.is-medium   
            #popular-disasters.columns.is-multiline
      
          //- img(src="./../images/flood.svg")

          form(action="")#i-want-to-help.section.container.mdc-card(style="background: #818181")
            .mdc-text-field.mdc-text-field--outlined
              input#help-title.mdc-text-field__input(type='text')
              label.mdc-floating-label(for='tf-outlined') Message
              .mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              .mdc-notched-outline__idle
            .mdc-text-field.mdc-text-field--outlined
              input#help-donation-url.mdc-text-field__input(type='text')
              label.mdc-floating-label(for='tf-outlined') Donation Url
              .mdc-notched-outline
                svg
                  path.mdc-notched-outline__path
              .mdc-notched-outline__idle
            button(type="submit").mdc-button.mdc-button--raised(style="background: teal") get help       
    
    include includes/footer
